@model BookingProject.Models.BookingHotelsViewModel.Rootobject

@{
    ViewData["Title"] = "GetFilteredHotels";
    Layout = null;
}

<style>
    /* Yeni renk tanımlamaları */
    :root {
        --custom-green: #2DA64D;
        --custom-black: #000000;
    }

    /* Başlıkların ve butonun renk ve kalınlığını güncelle */
    .card-title {
        color: var(--custom-green);
        font-weight: bold;
        font-size: 1.2em; /* İstenilen büyüklükte bir değer verilebilir */
    }

    button.btn-primary {
        background-color: var(--custom-green);
        border-color: var(--custom-green);
    }

    /* Hotel adının kalın ve renkli olması */
    .card-body h5 {
        color: var(--custom-green);
        font-weight: bold;
        font-size: 1.2em; /* İstenilen büyüklükte bir değer verilebilir */
    }

    /* Kutu içindeki bilgilerin renk ve kalınlığını güncelle */
    .card-body p {
        color: var(--custom-black); /* İstenilen renk verilebilir */
    }

    /* Kutu içindeki değerlendirme ve puan bilgilerinin rengini güncelle */
    .card-body .text-warning {
        color: var(--custom-green);
    }

    /* Aradığın Oteller Burada yazısının rengini güncelle */
    .container-fluid h5.text-primary {
        color: var(--custom-green);
    }

    /* Kutuların border rengi ve kalınlığını güncelle */
    .card {
        border: 2px solid var(--custom-green);
    }

    /* Grubunuz için öneriliyor satırını gizle */
    .card-body p:contains('Grubunuz için öneriliyor') {
        display: none;
    }
</style>




@await Component.InvokeAsync("HeadComponentPartial")


<body>


    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div>
        <div class="header-configure-area">
            <div class="language-option">
                <img src="https://media.istockphoto.com/id/1053420278/tr/vekt%C3%B6r/t%C3%BCrk-bayra%C4%9F%C4%B1-do%C4%9Fru-oranlar%C4%B1-vekt%C3%B6r.jpg?s=612x612&w=0&k=20&c=tm7M6ziGeCG3G_GLzaEyY5kBYGYd1dSKZXlUdPKXSds=" alt="">
                <span>EN <i class="fa fa-angle-down"></i></span>
                <div class="flag-dropdown">
                    <ul>
                        <li><a href="#">Zi</a></li>
                        <li><a href="#">Fr</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="bk-btn">Giriş Yap</a>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Uçak</a></li>
                <li><a href="./rooms.html">Otel</a></li>
                <li><a href="./about-us.html">Otobüs</a></li>
                <li>
                    <a href="./pages.html">Araç</a>

                </li>
                <li><a href="./blog.html">Transfer</a></li>
                <li><a href="./contact.html">Yardım</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> 0212 555 5555</li>
            <li><i class="fa fa-envelope"></i> EnUcuz@gmail.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> 0212 555 5555</li>
                            <li><i class="fa fa-envelope"></i>  EnUcuz@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="bk-btn" style="background-color:#2DA64D">Giriş Yap</a>
                            <div class="language-option">
                                <img src="https://media.istockphoto.com/id/1053420278/tr/vekt%C3%B6r/t%C3%BCrk-bayra%C4%9F%C4%B1-do%C4%9Fru-oranlar%C4%B1-vekt%C3%B6r.jpg?s=612x612&w=0&k=20&c=tm7M6ziGeCG3G_GLzaEyY5kBYGYd1dSKZXlUdPKXSds=" alt="">
                                <span>EN <i class="fa fa-angle-down"></i></span>
                                <div class="flag-dropdown">
                                    <ul>
                                        <li><a href="#">Zi</a></li>
                                        <li><a href="#">Fr</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="~/hotel/sona-master/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="./index.html">Uçak</a></li>
                                    <li><a href="./rooms.html">Otel</a></li>
                                    <li><a href="./about-us.html">Otobüs</a></li>
                                    <li>
                                        <a href="./pages.html">Araç</a>

                                    </li>
                                    <li><a href="./blog.html">Transfer</a></li>
                                    <li><a href="./contact.html">Yardım</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    </body>





<!DOCTYPE html>
<div class="container-fluid py-5 my-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 style="color: #2DA64D">Aradığın Oteller Burada</h5>
            <h1></h1>
        </div>
        @foreach (var item in Model.result)
        {
            <div class="card mb-4 wow fadeIn" data-wow-delay=".7s">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@item.max_1440_photo_url" class="img-fluid rounded-start" alt="@item.hotel_name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.hotel_name</h5>
                            <p class="card-text"><strong>Adres:</strong> @item.address</p>
                            <p class="card-text"><strong>Gecelik:</strong> @item.min_total_price ₺</p>
                            <p class="card-text">
                                <strong>Ücretsiz İptal:</strong>
                                @if (item.is_free_cancellable == 1)
                                {
                                    <span>Var</span>
                                }
                                else if (item.is_free_cancellable == 0)
                                {
                                    <span>Yok</span>
                                }
                                else
                                {
                                    <span>Bilgi Yok</span>
                                }
                            </p>
                            <p class="card-text"><strong>Puan:</strong> @item.review_score</p>

                            <p class="card-text"><strong>Şehir Merkezine Uzaklık:</strong> @item.distance_to_cc KM</p>
                            <p class="card-text">
                                <strong>Ücretsiz Otopark:</strong>
                                @if (item.has_free_parking == 1)
                                {
                                    <span>Var</span>
                                }
                                else if (item.has_free_parking == 0)
                                {
                                    <span>Yok</span>
                                }
                                else
                                {
                                    <span>Bilgi Yok</span>
                                }
                            </p>

                          
                            <button type="button" class="btn btn-primary">Yer Durumuna Bak</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@await Component.InvokeAsync("FooterComponentPartial")
<!-- Footer Section End -->
<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->
<!-- Js Plugins -->
<script src="~/hotel/sona-master/js/jquery-3.3.1.min.js"></script>
<script src="~/hotel/sona-master/js/bootstrap.min.js"></script>
<script src="~/hotel/sona-master/js/jquery.magnific-popup.min.js"></script>
<script src="~/hotel/sona-master/js/jquery.nice-select.min.js"></script>
<script src="~/hotel/sona-master/js/jquery-ui.min.js"></script>
<script src="~/hotel/sona-master/js/jquery.slicknav.js"></script>
<script src="~/hotel/sona-master/js/owl.carousel.min.js"></script>
<script src="~/hotel/sona-master/js/main.js"></script>